{% extends 'layouts/base.html' %}

{% block content %}
    <h1>{{ page_title }}</h1>
    <p>
        <a href="mailto:{{ admin_email }}">Email us</a>
    </p>
    <p>
        Nullam non turpis finibus, varius sem ac, pulvinar nisi. Aenean bibendum orci eget diam
        interdum, id laoreet risus tincidunt. Nullam ac varius ante. Morbi in eros ut leo aliquet
        condimentum nec et est. Nam luctus nisi massa, non egestas ex maximus a. Donec non magna ac
        purus dictum condimentum sed id sapien.
    </p>
{% endblock content %}
