{% if events %}
    <p>
        {{ events|length }} upcoming event{% if events|length != 1 %}s{% endif %}
    </p>
    <ul>
        {% for event in events %}
            <li>
                <h3><a href="{{ event.link }}">{{ event.date.strftime('%Y-%m-%d %-I:%M') }}</a></h3>
                {{ event.description|safe }}
                <a href="{{ event.link }}">Learn more</a>
            </li>
        {% endfor %}
    </ul>
{% elif not success %}
    <p>Could not load upcoming meetups at this time. Please try again later or visit <a href="{{ meetup_url }}">our Meetup page</a> to view meetups.</p>
{% endif %}
