{% extends 'layouts/base.html' %}

{% block page_scope %} get-involved-page{% endblock page_scope %}

{% block content %}
    <section class="row">
        <h1>{{ page_title }}</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at lectus arcu.
            Nulla tempus ante id fermentum posuere. Praesent volutpat eget nisi in laoreet. Donec id
            eros velit.
        </p>
    </section>

    <section class="meetups">
        <h2>Meetups</h2>
        <div id="meetups-list" data-meetups-url="{{ url_for('getinvolved_meetups_route') }}">
            <p>loading meetups...</p>
        </div>
    </section>

    <aside>
        <section class="row">
            <h3>Projects</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at lectus arcu.
            </p>
            <ul>
                <li>
                    <h4>SATNOGS</h4>
                    <p><em>Details coming soon...</em></p>
                </li>
                <li>
                    <h4>Kids Programming Thing</h4>
                    <p><em>Details coming soon...</em></p>
                </li>
            </ul>
        </section>

        <section class="row">
            <h3>PYCONAR</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at lectus arcu.
            </p>
            <p><em>Details coming soon...</em></p>
        </section>
    </aside>
{% endblock content %}
