{% extends 'layouts/base.html' %}

{% block page_scope %} get-involved-page{% endblock page_scope %}

{% block content %}
    <section class="row">
        <h1>{{ page_title }}</h1>
        <p>
            We've got something for Python developers of all types, whether you're a beginner or a
            seasoned professional.
            <a href="{{ meetup_events_url }}" target="_blank">Join us for one of our meetups</a> or
            dive right into one of our exciting community projects.
        </p>
    </section>

    <section class="meetups">
        <h2>Meetups</h2>
        <p>We get together on the last Thursday of every month.</p>
        <div id="meetups-list" data-meetups-url="{{ url_for('getinvolved_meetups_route') }}">
            <p>...</p>
        </div>
    </section>

    <aside>
        <section class="row">
            <h3>Projects</h3>
            <p>
                We're always on a the lookout for community-centered projects to help introduce
                others to Python and to find new and interesting ways to use Python.
            </p>
            <ul>
                <li>
                    <h4>SATNOGS</h4>
                    <p><em>Details coming soon...</em></p>
                </li><li>
                    <h4>Raspberry Pi Programming for Kids</h4>
                    <p><em>Details coming soon...</em></p>
                </li>
            </ul>
        </section>

        <section class="row">
            <h3>PYCONAR</h3>
            <p>
                We're in the very early stages of planning a Python conference in central Arkansas
                later this year. Check back soon for more details.
            </p>
        </section>
    </aside>
{% endblock content %}
