{% extends 'layouts/base.html' %}

{% block content %}
    <h1>{{ page_title }}</h1>
    <p>
        Nullam non turpis finibus, varius sem ac, pulvinar nisi. Aenean bibendum orci eget diam
        interdum, id laoreet risus tincidunt. Nullam ac varius ante. Morbi in eros ut leo aliquet
        condimentum nec et est. Nam luctus nisi massa, non egestas ex maximus a. Donec non magna ac
        purus dictum condimentum sed id sapien.
    </p><p>
        In maximus imperdiet lectus. Nunc pellentesque pulvinar tortor, non interdum dui rhoncus
        congue. In id justo turpis. Vestibulum at sem vel felis molestie sagittis non quis mi.
    </p><p>
        Etiam ut blandit lectus, vitae interdum nunc. Sed ultricies nisl id nunc viverra, eu
        suscipit nibh luctus. Aliquam vel urna consequat, imperdiet sapien at, accumsan odio.
        Mauris finibus nulla ac porta aliquam. Curabitur aliquet ac nisl ac viverra. Integer tempus
        finibus turpis.
    </p>
{% endblock content %}
