{% extends 'layouts/base.html' %}

{% block content %}
    <h1>{{ site_name }}</h1>
    <p>
        Welcome! We're a group of Python enthusiasts in the Little Rock, Arkansas area exploring
        all types of Python programming. Python developers of all levels are encouraged to join us
        for our <a href="{{ meetup_events_url }}" target="_blank">monthly meetups</a> and help out
        with our <a href="{{ url_for('getinvolved_route') }}">community projects</a>.
    </p>

    <h3>Contact Us</h3>
    <p>
        Have some questions? Need help getting started with Python? Feel free to
        <a href="mailto:{{ admin_email }}">email us</a> or check out our
        <a href="{{ meetup_url }}" target="_blank">Meetup page</a> for more info. 
    </p>
{% endblock content %}
