<DOCTYPE html>
<html>
    <head>
        <title>{% if page_title %}{{ page_title }} | {% endif %}{{ site_name }}</title>
        {% assets 'css_all' %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" media="all">
        {% endassets %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        {% include 'includes/header.html' %}
        {% include 'includes/hero.html' %}

        <main class="row">
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </main>

        {% include 'includes/footer.html' %}

        {% assets 'js_all' %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
