<footer class="row">
    <div class="container">
        <span class="right">
            <ul>
                <li><a href="{{ url_for('index_route') }}" class="home {% if request.url_rule.endpoint == 'index_route' %} active{% endif %}">
                    Home</a></li>
                <li><a href="{{ url_for('getinvolved_route') }}"{% if request.url_rule.endpoint == 'getinvolved_route' %} class="active"{% endif %}>
                    Get involved</a></li>
            </ul>
        </span>
        <span class="left">
            &copy; {{ now.year }} {{ site_name }}
        <span>
    </div>
</footer>
