<header class="row">
    <div class="container clearfix">
        <a href="{{ url_for('index_route') }}" class="logo"></a>
        
        <a href="{{ url_for('contact_route') }}"{% if request.url_rule.endpoint == 'contact_route' %} class="active"{% endif %}>
            Contact us</a>
        <a href="{{ url_for('getinvolved_route') }}"{% if request.url_rule.endpoint == 'getinvolved_route' %} class="active"{% endif %}>
            Get involved</a>
        <a href="{{ url_for('index_route') }}"{% if request.url_rule.endpoint == 'index_route' %} class="active"{% endif %}>
            Home</a>
    </div>
</header>
