@import 'globals';

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: $base-font-size;
    color: $black;
    background: $white;
    &,
    * {
        box-sizing: border-box;
    }
}

a {
    color: $accent-medium;
    text-decoration: none;
    border-bottom: 1px solid $accent-medium;
    transition: border-color 100ms linear;
    &:hover {
        color: $accent-dark;
        border-color: transparent;
    }
}

header,
section,
main,
footer,
cite {
    display: block;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    line-height: 1.3em;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

p {
    line-height: 1.4em;
}

section + section {
    margin-top: $padding-large;
}
