@import 'globals';

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: $base-font-size;
    color: $black;
    background: $white;
    &,
    * {
        box-sizing: border-box;
    }
}

a {
    color: $accent-medium;
    text-decoration: none;
    border-bottom: 1px solid $accent-medium;
    transition: border-color 100ms linear;
    &:hover {
        color: $accent-dark;
        border-color: transparent;
    }
}

header,
section,
main,
footer,
aside,
cite {
    display: block;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 0.2em 0;
    line-height: 1.3em;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.0em;
}

p {
    margin: 0 0 1.2em 0;
    line-height: 1.4em;
}

main {
    min-height: 300px;
}

.btn {
    display: inline-block;
    padding: $padding-small $padding-large;
    border: 1px solid $gray-3;
    background: $gray-5;
    color: $gray-1;
    border-radius: 2px;
    &:hover {
        border-color: $gray-3;
        background: $gray-4;
        color: $black
    } 
}
