@import 'globals';

.hero {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: $padding-large * 3;
    background: url(../img/little-rock-skyline.jpg) 50% 29%;
    background-size: cover;
    &:hover cite {
        opacity: 1;
    }
    cite {
        position: absolute;
        bottom: $padding-small;
        right: $padding-small;
        opacity: 0.5;
        transition: opacity 200ms linear;
    }
    a {
        display: inline-block;
        padding: 4px $padding-small;
        background: fade-out($white, 0.2);
        font-size: 0.8em;
        font-style: normal;
        color: $black;
        &:hover {
            color: $black;
        }
    }
}
